.frame-jump-input-container {
  margin: 12px 0;

  .frame-jump-label {
    font-weight: 500;
  }

  .frame-jump-input {
    width: 80px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #bbb;
    margin-left: 8px;
  }
}